# Assignment - 1

This is a small assignement for you to test your general Python skills and make you that you know the basics of pandas.

Try to complete every question as good as possible. 

You can execute the *control* cells to test your code. If it prints `OK`, you have a good hint that you code might be correct, but it is not a 100% true indicator of your solution. It is just there to guide you.

### Q1 : Import pandas and numpy and name them pd, respectively np.

In [1]:
# YOUR ANSWER
import pandas as pd
import numpy as np

In [2]:
# CONTROL
assert(pd)
assert(np)
print('OK')

OK

### Q2 : Create a Python list of at least 4 dictionaries.

- The list should be named `data`
- The list should contain at least 4 dictionaries.
- Each dictionary should model a person's name and age. So you must define 2 key-value pair for each dictionary. the keys should be `name` and `age`. You can choose the values.

In [45]:
# YOUR ANSWER
data = [
    {'name': 'John', 'age':1},
    {'name': 'Bob', 'age':2},
    {'name': 'Sarah', 'age':30},
    {'name': 'Lucy', 'age':40}
]

In [46]:
# CONTROL
assert( len(data) >= 4 )
assert( sum([ int(isinstance(d, dict)) for d in data ]) >= 4 )
for d in data:
    assert( d['name'] )
    assert( d['age'] )
print('OK')

OK

### Q3 : Convert the list created in Q2 to a pandas DataFrame and print it.

- The DataFrame should be called `data_df`

In [47]:
# YOUR ANSWER

data_df = pd.DataFrame(data)

print(data_df)

   age   name
0    1   John
1    2    Bob
2   30  Sarah
3   40   Lucy

In [48]:
# CONTROL

assert( isinstance(data_df, pd.DataFrame) )
print('OK')

OK

### Q4 : Get all rows where age is greated than 10 and save it to a variable.

- Query the DataFrame to get only the rows where the age is striclty greated than 10.
- Save the result into a variable called `age_10`

In [49]:
# YOUR ANSWER

age_10 = data_df[ data_df['age'] > 10 ]

In [50]:
# CONTROL
for age in age_10['age']:
    assert(age > 10)
    
print('OK')

OK

### Q5 : Get the maximum, minimum, mean, sum using only methods on the DataFrame.

- Save the maximum age in a variable called `age_max`
- Save the minimum age in a variable called `age_min`
- Save the mean age in a variable called `age_mean`
- Save the sum of all ages in a variable called `age_sum`

In [51]:
# YOUR ANSWER

age_max = data_df['age'].max()
age_min = data_df['age'].min()
age_mean = data_df['age'].mean()
age_sum = data_df['age'].sum()

In [52]:
# CONTROL
assert(age_max >= age_min)
assert(age_mean >= age_min)
assert(age_sum >= age_max)
print('OK')

OK

### Q6 : Add a new column is_student with random values 0 of 1.

- Add a new column called `is_student` to the DataFrame `data_df`
- Populate each row with a random value `0` or `1`

In [53]:
# YOUR ANSWER

# Hint 1: You can use random.choice(['Choice1','Choice2'])
# Hint 2: You can directly set the new column to a list of 10 elements like this: [ x for x in range(10) ]

import random
data_df['is_student'] = [ random.choice([0,1]) for x in range(len(data_df)) ]

In [54]:
# CONTROL
assert(data_df['is_student'].any())
print('OK')

OK

### Q7 : Convert 0's and 1's to False and True

- Convert the values from `is_student` to boolean True/False
- Use the `apply()` function on `data_df`

In [55]:
# YOUR ANSWER

data_df['is_student'] = data_df['is_student'].apply(lambda x : bool(x))

In [56]:
# CONTROL
for r in data_df['is_student']:
    assert( type(r) != int )
    assert( (type(r) == bool) or (type(r) == np.bool_) or (type(r) == np.bool) )
print('OK')

OK

### Q8 : Get all students.

- Use a query on the DataFrame `data_df` to get all rows where `is_student` is True.
- Store the result in a variable called `students`.

In [57]:
# YOUR ANSWER

students = data_df[ data_df['is_student'] == True ]

In [58]:
# CONTROL
for s in students['is_student']:
    assert( s == True )
print('OK')

OK

### Q9 : Split the name in a list of letters.

- Take the column `name` and split every row into a list of characters (Keep everything).
- Save the result into a new column called `characters`

In [65]:
# YOUR ANSWER

# Hint: Convert String to list works: list('abc') will give ['a', 'b', 'c']

data_df['characters'] = data_df['name'].apply( lambda x : list(x) )

In [67]:
# CONTROL
for l in data_df['characters']:
    assert( isinstance(l, list) )
print('OK')

OK

### Q10 : Save the DataFrame to a CSV file.

- Use the latest `data_df` and save it to a csv file named `data_a1.csv`
- Try to make sure it is saved with the encoding `utf-8`
- Separate all values by `;`

*Hint:* [here](https://www.google.com/search?client=safari&rls=en&q=pandas+save+dataframe+to+csv&ie=UTF-8&oe=UTF-8)

In [71]:
# YOUR ANSWER

data_df.to_csv('data_a1.csv', sep=';', encoding='utf-8')

In [72]:
# CONTROL
import os
assert(os.path.exists('data_a1.csv'))
print('OK')

OK