# Movie Data - Crash Course Notebook

**Welcome in this notebook!**

Here, you will do your **first steps** in the world of Big Data.
And as a start, we will take a look at data from [IMDB Movie Dataset](https://www.kaggle.com/deepmatrix/imdb-5000-movie-dataset).

This notebook will guide you trough all the steps required to perform some interesting analysis and exploration of a large dataset.

Let's get started!

## 1. Importing Libraries

Before we start writing code, we need to import a few libraries that will give us access to some awesome tools.
More precisely, we will load:

- **pandas** for loading large data sets into memory and working with it efficiently
- **numpy** for doing all kinds of scientific computations (matrices, vectors, ...)
- **matplotlib** for creating beautiful plots and graphs right into this notebook.

In [ ]:
# Import Panda and give it a shorter name "pd"

In [ ]:
# Import numpy and give it a shorter name "np"

In [ ]:
# Import pyplot from malplotlib and give it a shorter name "plt".


# Tell Jupyter to to print plots in the cell results (Specific to notebooks only)

## 2. Loading Data

All right. Now we have our libraries ready to go.

Next we are going to load the data that you have downloaded.
This data should be in the same folder as this notebook under `../data/movie_data/`.

The data is in a CSV file. To load it, we can use a function called `read_csv` in pandas. (Just google ["pandas load csv"](https://www.google.com/search?q=pandas+load+csv) and you will find the answer.)

In [ ]:
# Load the CSV file

Good.

Now, let's take a look a the data and see if something has been loaded.

Okay, this is quite a lot of data. How about we just pring the first few?

In [ ]:
# Print the first 5 lines

In [ ]:
# Print the first 10 lines

Pandas is really good at handling big datasets in memory.
It's more powerful than standard Python arrays.

Let's take a look at the type of our variable `movie_data`.

In [ ]:
print('The type of movie_data is:', ...)

So, we are working with a `DataFrame` in this case.

This is important to know, because now you can search specifically on Google using the keyword "pandas DataFrame" and find very relevant knowledge (e.g. the [official documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)).

Note that there exists other types of data structures in pandas.
When working with pandas and numpy, it is very important that you keep track (in your mind at least) of what is the type of each variable, because each library has its own functions and everything is not always compatible with each other. So, for now, just remember to keep an eye on what data structures you are working with!

Going back with the example of a pandas DataFrame, we can also access the rows with the normal square brackets syntax.

In [ ]:
# Print the first 10 lines

## 3. Explore the Data

- Import libraries - **OK**
- Load dataset - **OK**
- Take a look at the data - **OK**

Next, we will look with more detail at what we really have and what is the meaning of the data.

First, let's check how big our dataset is:

In [ ]:
# Option 1
print('Movie Dataset has {} rows'.format( ... ))

# Option 2
print('Movie Dataset has {} rows'.format( ... ))

Interesting. The `shape` gives us a [tuple](https://www.tutorialspoint.com/python/python_tuples.htm) in the form of (number_of_rows, number_of_columns).

Pandas DataFrames also have an attribute `size`. Let's check that out:

In [ ]:
print('Size of the DataFrame is {}'.format( ... ))

What? Yep, looking at the [documenation](http://pandas.pydata.org/pandas-docs/version/0.18.1/generated/pandas.DataFrame.size.html) we can read that `size` is the number of elements. Each cell is an element. If we compute `#rows x #columns` we should get the same value:

In [ ]:
# The first element of shape is the #rows and the second is the #columns
print('Size of the DataFrame is {}'.format( ... ))

Okay, so we have about 5000 rows.

The next thing we will look at is the columns. And to print the values of the columns we can of course just print part of the data or we can access the columns attribute like this:

In [ ]:
movie_data_columns = ...
print('The {} columns are:\n'.format( ... ))

In [ ]:
# we can now take only few more interesting columns for review the values

A few subtle, yet important, things are going on here. To understand the code above we will take a look at the value and type of the variable at each step.

To make things short, `movie_data.columns.values` gives us an `numpy.ndarray` and by [googling "ndarray to list"](https://www.google.com/search?q=ndarray+to+list) we directly find the answer, namely, there is a function `tolist()` that allows us to get a normal Python list.

*Below are the steps:*

In [ ]:
print('1. Type of movie_data                          :', type(movie_data))
print()
print('2. Value of movie_data.columns                 :', movie_data.columns)
print('3. Type of movie_data.columns                  :', type(movie_data.columns))
print()
print('4. Value of movie_data.columns.values          :', movie_data.columns.values)
print('5. Type of movie_data.columns.values           :', type(movie_data.columns.values))
print()
print('6. Value of movie_data.columns.values.tolist() :', movie_data.columns.values.tolist())
print('7. Type of movie_data.columns.values.tolist()  :', type(movie_data.columns.values.tolist()))

**Back to our data:**

The datasets contains 28 columns. That is already very interesting.

We have basic informations like the title, country, budget, name of director and duration. We also have information about the 1., 2. and 3. actors (Name and Facebook likes). Then there are also some columns about the genre of the movie, the score and rating.

### 3.1 Looking at the movie title

We know that the column 'movie_title' is the title the movie. That's easy.

To print only 1 column, we can use square brackets with the name of the column:

In [ ]:
print('The type of a DataFrame column is:', ...)

Okay, so a columns a [pandas Series](http://pandas.pydata.org/pandas-docs/version/0.18.1/generated/pandas.Series.html). Looking at the documenation we can do several things:

## 3.2 Looking at the country

Now, let's take a look at the country the movie comes from.

Seems that there is already a lot from the USA. To be sure, let's print the number of unique countries and how many times they are represented:

## 3.3 Looking at the genres

Here, we will take a look at the genres of the movies. This time we will only print 2 columns, the title and the genres. To do that we use the double square brackets in pandas.

In [ ]:
# Print the first 10 rows. Only print 2 columns

All right, it seems that the genres is a string where all elements are spaced by a `|`(pipe) symbol. Keep this in mind, because this means that we will need to process this column if we want to work with it.

Before we move on, let's get all movies where the genres contains the string "Comedy". With pandas, we can use the query notation `YOUR_DATA['COLUMN_NAME'].str.contains('YOUR_STRING')`:

In [ ]:
# Print all movies where genres contains the string "Comedy"
# Only prints a few selected columns

## 3.4 Looking at Actors and Directors

We have also a lot of information about actors, directors and something about facebook likes, so let's just look at that.

In [ ]:
columns = [
    'director_name', 
    'director_facebook_likes',
    'actor_1_name',
    'actor_1_facebook_likes', 
    'actor_2_name',
    'actor_2_facebook_likes', 
    'actor_3_name',
    'actor_3_facebook_likes', 
    'cast_total_facebook_likes', 
]
...

Good. We could imagine to later plot this data and we might try to find out who has the most likes and the differences between 1., 2. and 3. actors. For the `director_facebook_likes`, we see that many values are 0. This means that it would require some cleaning, because many values are missing or do not exist.

This is probably enough for this initial exploration. Feel free now to explore, for example, the budget or even the ratings and imdb scores.

In [ ]:
# Your Exploration code goes here...

One last thing we need to try is the `info()` function on a DataFrame. This function returns the general information about the data.

In [ ]:
# Get general information about the data
# How many columns it has
# Names of the columns
# Types of the columns

**Great.** We have now some better understanding of what we are dealing with. We can feel confident enough to move on to the next step, which is pre-processing the data.

## 4. Pre-Processing

Now, it's time to manipulate our data so that it is easier to work with. Depending on your data, pre-processing can be very simple or very difficult or not even worth it.

Looking at the video about pre-processing we know that there are a few simple things that we need to check.

1. Are there any null / empty values in the dataset?
1. Are there any duplicates? What does it mean?

We know that the columns `genres`is not very nicely formatted for us. So we will split those values into individual columns, later on.

### 4.1 Empty / Null Values

Let's first check if there are any empty elements in our dataset. This can give us a good hint of **how clean** our data is.

As always, Google is your friend. Pandas has a really good website where many things are explained. In our case, this [awesome link](http://pandas.pydata.org/pandas-docs/stable/missing_data.html) might help you a loooot.

In [ ]:
# isnull() return a boolean same-sized object indicating if the values are null.

In pandas there is a [function](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.any.html) called `any()`, which return whether any element is True over a requested axis.

So we can call this function on our previous object:

In [ ]:
# "Are there any null values in the columns"

So, we see that each the columns that are marked `True` have one or more null values inside. So, for some movies, the language or country might not be defined. However, we also see that all movies have at least a title and a genre. So, that is great. Since, this is what is also interesting for us, we will probably not remove any datapoints.

The previous cell returned a pandas Series. If we call again `any()` on it, we will apply the same logic again. This is really powerful. There are many solutions for each problem in Python. Here we used one way, but there are many more as you can see [here](http://stackoverflow.com/questions/29530232/python-pandas-check-if-any-value-is-nan-in-dataframe).

In [ ]:
# "Are there any null values among the null values of the columns"

Assume that we want to remove all rows containing null / nan values, we could simply use the `dropna()` method. ([Documentation](http://pandas.pydata.org/pandas-docs/version/0.18.1/generated/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna))

In [ ]:
print('Size before dropna() :', ...)
print('Size after dropna()  :', ...)

# Note that dropna() return a new object. So to use the result you should do: mydata = mydata.dropna()

As said before, we are not going to remove a row when one columns does not have a null value in this example.

However, let's say that we want to later work on the gross and 1. actor data. We can and should now clean and remove all rows where those values are not defined. And if for example the 2. actor is not defined, we can ignore it for now.

In pandas, the `dropna()` function can be given a subset, where you define the columns to check:

In [ ]:


print('Size if dropna() is performed: ', ...)

That looks kind of reasonable, so let's do it:

### 4.2 Duplicates

Now, let's handle duplicates. And for that, we will start like before, by finding out how many duplicate rows there are.

Guess what? [There is a function for that](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.duplicated.html). Pandas is just amazing!

In [ ]:
# By default, all duplicates are marked true, except for the first occurance.

Pandas allows you, with the square bracket notation to [query the dataset](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html). It means that you can request rows or columns based on a criteria that you choose. This is really useful and you are going to use it a lot. It works like that:

In [ ]:
# Get all rows where genres is equal to "Comedy"

# Option 1 (Recommended)
print( ... ) 

# Option 2 (Recommended)
print( ... ) 

# Option 3
print( ... )

Note that our query takes all rows, where genres is equal exactly to the string "Comedy", so for example "Action|Comedy" is not included. If you want all that **contains** "Comedy", then you must use the `str.contains` method.

In [ ]:
# Get all rows where genres contains "Comedy"

# Option 1 (Recommended)
print( ... ) 

# Option 2 (Recommended)
print( ... )

If you want to know more `str` methods on pandas Series, then check this [documentation](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling).

Now, lets continue and count how many duplicates we have. We will focus only on movie_titles which one or more times in the database.

In [ ]:
# Get all rows from the dataset that are duplicates. (Which are twice or more in the dataset)
# Only check movie_title for duplicates.
duplicates = ...

# Print the head.
print('Data:\n', duplicates.head(10) )

# Print the size
print('\nSize:\n', duplicates.shape[0] )

In [ ]:
# Print title titles only:

In [ ]:
# Print where movie title equals to The Legend of Tarzan

All right, so we have only 45 duplicates and it looks like those are real duplicates. The question is:

**Do we want to keep 2 movies with the same data?**

The answer is no. We don't need. We can be sure the duplicates are the 2 same movies. So we can safely remove them.

To remove duplicates, we can do it with the `drop_duplicates()` method. ([Documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html))

In [ ]:
print('Size of dataset before dropping duplicates: ', len( movie_data ))

movie_data = ...

print('Size of dataset after dropping duplicates: ', len( movie_data ))

# Note that drop_duplicates() return a new DataFrame.

In [ ]:
# We can check if there are no duplicate movie titles:

Before we continue, we should reset the index of the DataFrame. This is unique to pandas, because it is working with an index. At the beginning, our index was [0,1,2,3.....20,21,22,....], but by removing items we can end up with something like [1,2,4,5,....20,25,26,...], which is not very nice.

Let's just call this function to reset the index:

## 5. Data Exploration

Our data is clean and we did some preparation. Here, we will try to explore the data in much more details and try to find out interesting informations.

### 5.1 Movies per 1. Actor

We have a columns 'actor_1_name' and we need to count how many rows are there for the same actor. In other words, in how many movies did each actor play:

*Let's make a dictionary, then loop over our 3700 rows and count +1 for each actor we find.*

**OR, let's use super pandas features:**

In pandas, we can count unique values and have the counts for each one:

In [ ]:
print('There are {} unique first actors.'.format( ... ))

In [ ]:
# Print the 10 actors that had most roles played in movies

We could very easily plot it with nearly 0 effort:

This is a very rough and basic plot, but we can read something very interesting from this curve. One one side, many actors are only one first actor, and on the other hand, a few actors are very often first actor.

In other words: either you are very successfull and will be main actor in many movies, or you might just do one movie have more difficulties to be main actor again. That would be one interpretation.

### 5.2 Best and Worst Movie

Now, lets analysis which movie made the most money:

In [ ]:
# Index of the movie with the maximum gross


# The title at that index:

In [ ]:

# Index of the movie with the minimum gross


# ALTERNATIVE: The title at that index:


# Note: without .loc, this line doesn't work. Because we select a few columns

In [ ]:
# Index of the movie with the minimum gross


# ALTERNATIVE: The title at that index:


# Note: without .loc, this line doesn't work. Because we select a few columns

Cool, everyboday heard of Avatar. And it seems it was the most successful movie in this dataset. We also found the worst performing movie.

### 5.3 Total Gross per Actor

Let's analyse and find out which actor has the most chances to make a successful movie. Basically, which actor was able to help generate the most money.

In [ ]:
# Takes all the first actor names and 'gross' income that the movie made.


# Sum all films 'gross' and group by individual actor


# Sort the result in descending order (big to small) and keep the 20 first/best elements.


# Creates the figure and set the size


# Plot the data as a bar plot


# Set the title of the plot


# Set the label of the y-axis


# Set the label of the x-axis


# Show the grid

### 5.4 Most Common Genre

In ths section, we are going to find out which genre is the most common.

So, to work with the genres, we need to split the genres into multiples columns, because right now the data looks like: "Genre1|Genre2|..." and that's not a good format.

To split the genres by the `|` symbol, we can just use the `str.split()` function:

Then, we are going to get all unique genres from the list of lists:

Next, we are going to add a new column for each genre. Each movie will have a 0 or 1 for the genres that is covering. To illustrate, we will have somehting like this:

| fixed_genres | Action | Comedy | Drama  |
|--------|--------|--------|--------|
| [Action, Comedy] | 1 | 1 | 0
| [Action, Comedy, Drama] | 1 | 1 | 1
| [Comedy] | 0 | 1 | 0

Adding many columns like that is not an issue. Pandas is really performant and efficient with Big Data.

Also, note that, even though this is called pre-processing. We are doing it only now, because before we didn't know or think about this kind of analysis. Remember that it is never too late to do things. And in the worst case, you can even add code where it is missing of course.

In [ ]:
# Split the genres by the pipe symbol and add the result as a new column


# Loop over unique_genres
...
    # Add a column, where all values will be a boolean (True/False), that is cast to an int (1/0).
    # "apply", applies a function on every row of the dataset, in this case:
    # For each list in fixed_genre, put a 1 for that row if the genre g is in the list x.
    ...

# Show the first rows

In [ ]:
# Now, if you want to count how many movies have the style Adventure:

In [ ]:
# We can loop and print all genres:
# Additionally, we will store them to plot them also

In [ ]:
# Convert the genre_data into a pandas Series

In [ ]:
# Sort the data from big to small

In [ ]:
# Creates the figure and set the size


# Plot the data as a bar plot


# Set the title of the plot


# Set the label of the y-axis


# Set the label of the x-axis


# Show the grid